<div class="content-header">
	<span class="layui-breadcrumb">
	  <a href="#!home"><span i18n="home_page"></span></a>
	  <a><cite><span i18n="config_fee_mgn"></span> </cite></a>
	</span>
    <div class="layui-form toolbar">
        <span i18n="search"></span>：
        <select id="searchKey">
            <option value="feeType">Fee Type</option>
        </select>

        <select id="searchValue">
            <option value="" i18n="please_select"></option>
            <option value="storage" >Storage</option>
            <option value="inbound" >Inbound</option>
            <option value="handle" >Handle</option>
            <option value="return" >Return Order</option>
            <option value="return_merchant" >Return Merchant</option>
        </select>
        <button id="searchBtn" class="layui-btn search-btn" permission="50031"><i class="layui-icon">&#xe615;</i><span i18n="search"/></button>
        &emsp;
        <button id="addBtn" class="layui-btn search-btn" permission="50032"><i class="layui-icon">&#xe654;</i><span i18n="add"/>
        </button>
        &emsp;
        <button id="refreshBtn" class="layui-btn search-btn" permission="50035"><i class="layui-icon">&#xe9aa;</i><span i18n="refresh"/>
        </button>
    </div>
</div>
<table class="layui-table" id="table" lay-filter="table"></table>
<!-- 表单弹窗 -->
<script type="text/html" id="addModel">
    <form id="editForm" class="layui-form model-form" action="">
        <input name="_method" value="POST" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="config_fee_type"></span></label>
            <div class="layui-input-block">
                <select id="feeType" name="feeType" lay-verify="required" required>
                    <option value="" i18n="please_select"></option>
                    <option value="storage" >Storage</option>
                    <option value="inbound" >Inbound</option>
                    <option value="handle" >Handle</option>
                    <option value="return" >Return Order</option>
                    <option value="return_merchant" >Return Merchant</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="config_fee_class"></span></label>
            <div class="layui-input-block">
                <select id="classType" name="classType" lay-verify="required" required>
                    <option value="" i18n="please_select"></option>
                    <option value="1057" >Phones&Accessories</option>
                    <option value="1072" >Computer&Tablets</option>
                    <option value="1250" >Electronics&Appliances</option>
                    <option value="1466" >Home&Living</option>
                    <option value="1294" >Clothes</option>
                    <option value="1350" >Shoes</option>
                    <option value="1385" >Bags&Fashion</option>
                    <option value="1425" >Sports</option>
                    <option value="1615" >Beauty&Hair</option>
                    <option value="1504" >Kids</option>
                    <option value="1563" >Office Products</option>
                    <option value="1603" >Automotive</option>
                    <option value="other" >Other</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="config_fee_first_price"></span></label>
            <div class="layui-input-block">
                <input name="firstPrice" type="text" class="layui-input" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="config_fee_second_price"></span></label>
            <div class="layui-input-block">
                <input name="secondPrice" type="text" class="layui-input" maxlength="20"/>
            </div>
        </div>

        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" type="button" id="btnCancel"><span i18n="cancel"></span>
            </button>
            <button class="layui-btn" lay-filter="btnSubmit" lay-submit><span i18n="ok"></span></button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<div id="barTpl" style="display:none;">

    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" permission="50033"><span
            i18n="edit"></span></button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="50034"><span
            i18n="delete"></span></button>
</div>

<script type="text/javascript" src="/static/js/config/fee.js"></script>