

<div class="content-header">
	<span class="layui-breadcrumb">
	  <a href="#!home"><span i18n="home_page"></span></a>
	  <a><cite><span i18n="shipment_order"></span> </cite></a>
	</span>
    <div class="layui-form toolbar" id="toolList">

        <span i18n="waybill"></span>：
        <input id="searchValue" class="layui-input search-input" type="text"/>&emsp;
        <span i18n="basic_sku"></span>：
        <input id="searchValueOfSku" class="layui-input search-input" type="text"/>&emsp;
        <div class="layui-inline">
            <label class="layui-form-label"><span i18n="date_range"></span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="date_range" placeholder=" - " style="width: 200px;">
            </div>
        </div>
        <button id="searchBtn" class="layui-btn search-btn" permission="70013"><i class="layui-icon">&#xe615;</i><span i18n="search"/></button>
        <button class="layui-btn layui-btn-normal btn-export" permission="70014">Export</button>
    </div>

</div>

<table class="layui-table" id="table" lay-filter="table"></table>

<!-- 表格操作列 -->
<div id="barTpl" style="display:none;">

    <button class="layui-btn layui-btn-xs" lay-event="ship" permission="60012"><span i18n="shipment_order_ship"></span></button>

    <button class="layui-btn  layui-btn-xs layui-btn-danger" lay-event="cancel" permission="60013"><span i18n="shipment_order_cancel"></span></button>
    
</div>

<script type="text/javascript" src="/static/js/inbound/inbound_detail.js"></script>